body {
  background-color: #131212;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
}
.container {
  width: 75%;
  max-width: 200;
}

.title {
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin-bottom: 5vh;
}

.text-wrap {
  display: flex;
  background-color: #464242;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 3px;
  max-width: max-content;
  height: "40%";
  text-align: center;
  padding-inline: 15%;
  padding-top: 5%;
  padding-bottom: 10%;
  min-width: 40%;
  min-height: 40%;
}

.input {
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  max-width: max-content;
  justify-self: center;
  margin: 0 auto;
  margin-top: 5vh;
}

.alert {
  margin: 0 auto;
  opacity: 0;
  height: 50px;
  max-width: max-content;
  transition: all 1.8s;
  z-index: 2;
  margin-bottom: 15%;
}

.inputItem {
  padding: 15px;
  margin-bottom: 15px;
}

.MuiInputBase-input {
  text-align: center;
}
