body {
  background-color: #131212;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}
.container {
  width: 75%;
  max-width: 200;
  justify-content: center;
  justify-self: center;
}

.title {
  color: #35363b;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin-bottom: 5vh;
}

.text-wrap {
  display: flex;
  background-color: #ebe5e5;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 10px;
  height: "40%";
  text-align: center;
  padding-inline: 15%;
  padding-top: 5%;
  padding-bottom: 10%;
  min-width: 40%;
  min-height: 40%;
  justify-content: center;
}

.input {
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  max-width: max-content;
  justify-self: center;
  margin: 0 auto;
  margin-top: 5vh;
}

.alert {
  margin: 0 auto;
  opacity: 0;
  height: 50px;
  max-width: max-content;
  transition: all 1.8s;
  z-index: 2;
  margin-bottom: 15%;
}

.inputItem {
  padding: 15px;
  margin-bottom: 15px;
}

.MuiInputBase-input {
  text-align: center;
}

.lock-icon {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .wrap {
    background-color: lightblue;
    padding: 0px;
  }
  .text-wrap {
    padding: 0;
    height: 570px;
    margin-top: 0px;
    border-radius: 0;
    padding-top: 40px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .title {
    margin-top: 10px;
  }
  .inputItem {
    margin-top: -30px;
  }
}
