.wrap {
  display: flex;

  background-color: #131212;
  justify-content: center;
  align-items: center;
}
.container {
  width: 75%;
  max-width: 200;
}

.title {
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin-bottom: 10vh;
}

.text-wrap {
  display: flex;
  background-color: #464242;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 100px;
  border-radius: 3px;
  max-width: max-content;
  height: "40%";
}

.input {
  border-radius: 15px;
  margin: 0 auto;
}

.btn {
  max-width: max-content;
  justify-self: center;
  margin: 0 auto;
  margin-top: 5vh;
}

.alert {
  margin-top: 15vh;
  margin: 0 auto;
  opacity: 0;
  height: 50px;
  max-width: max-content;
  transition: all 1.8s;
  z-index: 2;
  padding-top: 15px;
}
